<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.aubreypwd.alfred-workflow-crc32-rand-id</string>
	<key>connections</key>
	<dict>
		<key>68304BEB-3B02-4347-BB27-0B7DF4DA2342</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C90937FC-A596-492D-8566-310B386F38C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C90937FC-A596-492D-8566-310B386F38C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E914CCC-2E83-4F55-8803-6952CC4CA53E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5249EE4D-E2E9-49E5-BF5A-DEED0A1FD622</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2F8A52C-7FAB-4D54-B3D3-0965457C738D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68304BEB-3B02-4347-BB27-0B7DF4DA2342</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Aubrey Portwood</string>
	<key>description</key>
	<string>Generates a crc32 unique ID based on microtime().</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>crc32 Random ID</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Pop</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>0E914CCC-2E83-4F55-8803-6952CC4CA53E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C90937FC-A596-492D-8566-310B386F38C3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>&lt;?php echo crc32( rand( 1, ( time() * rand( 1, 10 ) ) ) ); ?&gt;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>68304BEB-3B02-4347-BB27-0B7DF4DA2342</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>randid</string>
				<key>subtext</key>
				<string>Generates a random crc32 ID based on microtime().</string>
				<key>text</key>
				<string>Random crc32 ID</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E2F8A52C-7FAB-4D54-B3D3-0965457C738D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>v</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>5249EE4D-E2E9-49E5-BF5A-DEED0A1FD622</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>1.0.1
- fix issue where you may get zero number</string>
	<key>uidata</key>
	<dict>
		<key>0E914CCC-2E83-4F55-8803-6952CC4CA53E</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>5249EE4D-E2E9-49E5-BF5A-DEED0A1FD622</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>68304BEB-3B02-4347-BB27-0B7DF4DA2342</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>C90937FC-A596-492D-8566-310B386F38C3</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>E2F8A52C-7FAB-4D54-B3D3-0965457C738D</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/aubreypwd/alfred-workflow-crc32-rand-id</string>
</dict>
</plist>
